<div class="gjs-grid-row" id="iohyge">
    <div class="gjs-grid-column" id="ietveb">
      <h1 class="gjs-heading" id="i88crg">
        Angular <span class="gjs-text-blue" id="i7dnba">for ML</span>
      </h1>
      <div class="text-main-content" id="it42pi">Image Processing<br /></div>
      <a class="gjs-button" id="iy1vkz">Image Processing</a
      ><img
        src="https://images.pexels.com/photos/7078666/pexels-photo-7078666.jpeg?auto=compress&cs=tinysrgb&w=800&dpr=2"
        id="in001d"
      />
    </div>
  </div>